
@{
    Layout = null;
}

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal" />
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span style="float: right" aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="body-content">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal-lg" />
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span style="float: right" aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="body-content-lg">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>