
@{
    ViewBag.Title = "Sổ Tiết Kiệm";
    ViewBag.Page = "Passbooks List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="order_details p_120">

    @Html.Action("Bank", "PassBook")
</section>
